.edit-button 
{   border: none;
    outline: none;
    background: none;
    cursor:pointer;
    font-size:15px;
    padding:5px;
    padding-left: 25px;
    padding-right:25px;
    border-radius: 15px;
    background-color: #ffc033;
    color: #323232;
    margin-top:10px;   
}

.edit-button:hover
{
    background-color: #d8980d;
    transition: all 0.3s ease-in-out;
}

.booking-card
{
    display:inline-block;
    color: #323232;
    background-color: #fde047;
    font-size: 0.5rem;
    padding:20px;
    margin:30px;
    text-align: center;
    border-radius: 15px;
    width:250px;  
}

.booking-card h1 {
    margin-top:10px;
    font-weight: normal;
    font-size: small;
}

