.search-form {
  display: flex;
  align-items: center;
}

.search-container {
  display: flex;
  align-items: center;
  background-color: #fff;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 2px 15px #1111, -2px -2px 15px #1111;
}

.search-input {
  padding: 10px;
  font-size: 16px;
  border: none;
  background-color: #fff;
  color: #000;
  width: 500px;
}

.search-icon {
  background-color: transparent;
  border: none;
  cursor: pointer;
  color: #000;
  font-size: 16px;
}

.search-icon:hover {
  opacity: 0.8;
}
